.navbar {
  background-color: #333;
  overflow: hidden;
  padding: 10px 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px; /* Agranda el tamaño de la letra */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Estilo para la sección de historial */
.history-container {
  padding: 20px;
  background-color: #f4f4f4;
}

.history-container h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.history-item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.history-item img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 8px;
  display: block;
  margin-bottom: 15px;
}

.history-item .details {
  font-size: 14px;
  color: #555;
}

.history-item .details strong {
  color: #333;
}
