<div class="navbar">
  <ul>
    <li><button>Inicio</button></li>
    <li><button (click)="irHistory()">Historial</button></li>
  </ul>
</div>

<div class="container">
  <h1>Machine Learning: Captura y Procesa Imágenes</h1>
  <p>Utiliza este sistema para capturar una imagen y procesarla mediante algoritmos de Machine Learning. Haz clic en el botón para empezar.</p>
  
  <div class="button-container">
    <!-- Botón para capturar imagen desde la cámara -->
    <button (click)="captureImage($event)" class="capture-btn">Tomar Foto</button>
    
    <!-- Botón para subir imagen desde el archivo -->
    <label for="upload" class="upload-btn">Subir Imagen</label>
    <input type="file" id="upload" (change)="onImageSelected($event)" style="display: none;"/>
  </div>
  

  <div *ngIf="imageUrl" class="image-container">
    <h3>Resultado de la Imagen Capturada</h3>
    <img [src]="imageUrl" alt="Captured Image" />
    <p>Esta imagen será procesada para el análisis. Si deseas capturar otra imagen, simplemente presiona el botón nuevamente.</p>
  </div>
</div>
